[defaults]
ansible_python_interpreter    = /usr/bin/python3
#inventory                     = inventory/hosts
any_errors_fatal              = true
display_skipped_hosts         = false
deprecation_warnings          = false
gathering                     = smart
log_path                      = output.log

[inventory]
enable_plugins                = host_list, virtualbox, yaml, constructed, script, auto, yaml, ini, toml

#[ssh_connection]
#ssh_args                      = -o ControlMaster=auto -o ControlPersist=600s
#control_path                  = %(directory)s/%%h-%%r
#pipelining                    = true
